/* Reset css */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* Xét các thuộc tính cho tất cả các thẻ */
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.btn{
    min-height: 34px;
    background-color: #000;
    color: #fff;
    padding: 4px 12px;
    font-size: 14px;
    border:none;
}

.row{
   margin-left: -8px;
   margin-right: -8px;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full{
    width: 100%;
}
.col-2{
    width: 50%;
}

.col-3{
    width: 33.333333%;
}
.mt-6{
    margin-top:6px;
}
/* 
1. Từ ngoài vào trong
2. từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

/* 
1. Vị trí
2. Kích thước(width, height)
3. màu sắc
4. kiểu chữ ( Kiểu chữ, hình tròn, hình vuông, ...)
*/
.loading{
    position:fixed;
    display:none ;
    background-color: rgba(0, 0, 0, 0.3);
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.load{
    text-align: center;
    background-color: #fff;
    width:400px;
    height:200px;
    
}
.loader{
    margin: auto;
    border-radius: 50%;
    border: 10px solid rgb(222, 222, 222) ;
    border-top: 10px solid blue ;
    width: 100px; height: 100px;
    animation: quay 3s  linear infinite;
}
    @keyframes quay {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }

.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    display: none;
    animation: open 0.4s linear;
}

@keyframes open {
    from{
       opacity: 0;
    }
    to{
    opacity: 1;
    }
}

.open-modal{
    display: flex;
}

.modal-header {
    width: 900px;
    background-color:#009688;
    padding: 50px 0;
}

.modal-heading {
    color: #fff;
    font-size: 34px;
    font-weight:400;
    letter-spacing:4px;
    text-transform:uppercase;
    text-align: center;
}

.modal-body {
    background-color:#fff;
    width: 900px;
    position: relative;
    padding:20px;
}

.modal-close {
    position: absolute;
    top : -140px;
    right: 0px;
    font-size: 20px;
    padding: 10px 20px;
    color: #fff;
}

.modal-close:hover{
    opacity: 0.6;
    cursor: pointer;
}

.modal-container {
    
}

.modal-content {

}

.content-icon{

}

.content-input {
    margin:16px 0 26px 0;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    
}

.modal-btn {
    height: 54px;
    width: 100%;
    background-color: #009688;
    display: inline-block;
    border: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

.modal-btn:hover{
    opacity: 0.8;
    cursor: pointer;
}

.modal-footer {
    float: right;
    padding: 40px 0 20px 0;
    font-size: 14px;
}

.modal-footer a{
    color:#009688;

}

#main {

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    display: flex;
    justify-content:space-between;
    z-index: 1;
}

#nav>li{
    display: inline-block;
}

#nav li{
    display: inline-block;
    position: relative;
}

#nav>li>a{
    text-transform: uppercase;/*Viet hoa*/
    font-weight:500;
    color: #fff;
}

#nav li a{
    width: 100%;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block; 
    /* Mặc định thẻ a có display là inline nên kt là auto nên thêm inline-block để n kế thừa kt thằng cha */
}

#nav .subnav li:hover a,
#nav > li:hover>a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    position: absolute;
    top: 100%;
    display : none;
    background-color: #fff;
    text-decoration: none;
    min-width: 160px;
    box-shadow: 0 0 10px  rgba(0,0,0,0.3)
}

#nav>li:last-child:hover .subnav{
    display: block;
}

#nav .subnav>li{
    width: 100%;
}

#nav .subnav a{ 
    color: #000;
    line-height: 38px;
}
#header .mobile-menu,
#header #search{
    position: absolute;
    top: 0;
    right: 0;
    color:#fff;
    height: 46px;
    line-height:46px;
    padding: 0 24px;
}

#header .mobile-menu{
    display: none;
}

#header .mobile-menu:hover{
    background-color: #ccc;
    color: #000;
}
#header #search:hover{
    cursor: pointer;
    background-color: #f44336;
}

#slider {
    margin-top: 46px;
    padding-top: 50% ; /* lấy kt 50% cái chiều rộng của nó*/
    background: url('https://www.w3schools.com/w3images/ny.jpg') top center / cover no-repeat;
    /* background: background-color background-position / background-size background-repeat */
    position: relative;
}

#slider .text-content{
    position: absolute;
    bottom: 48px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#slider .text-content h2{
    font-size:30px;
    font-weight: 400;
    margin: 10px 0;
}

#slider .text-content .text-decoration {
    font-weight: 600;
}

#content {
    
}

#content .content-section{
    width: 800px;
    max-width: 100%;
    margin: auto;
    padding: 64px 16px 112px 16px;
}

#content .section-heading {
    text-align: center;
    font-size:30px;
    font-weight: 400;
    letter-spacing: 4px; /*Khoảng cách các chữ*/
}

#content .section-sub-heading {
    text-align: center;
    font-size:15px;
    margin: 25px 0;
    font-style: italic;/*chữ in nghiêng*/
    opacity: 0.65;
}

#content .about-text{
    font-size:15px;
    text-align: justify;/*căn đều 2 bên*/
    line-height: 1.4;
}

#content .about-list{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px ;
}

#content .about-item{
    text-align:center;
}

#content .about-item-name {
    font-weight:300;
    font-size: 16px;
    margin: 32px 0 20px 0;
}

#content .about-item-img {
    width: 155px;
    border-radius: 4px;
}

.tour-section{
    background-color: rgb(0, 0, 0);
    color: #fff;
}

#content .tour-list-month{
    transform: translateY(17px);
    background-color: #fff;
}

#content .tour-item-month{
    display: flex;
    align-items: center;
    padding: 8px 20px;
    border: 1px solid #ccc;
}

#content .month{
    color: #9a8d9c;
    margin-right: 20px;
}

#content .sold-out{
    font-size: 14px;
    color: #fff;
    background-color: #f44336;
    padding: 3px 6px;
    font-weight: 500;
}

#content .tour-item-month.space{
    display:flex;
    justify-content:space-between;
}

#content .tour-item-month .number{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    font-size: 16px;
    margin-right: 12px;
}

.tour-list {
    margin-top:47px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.tour-item {
    border-radius: 2px;
    overflow: hidden;
}

.tour-img {
    height: 185px;
    width: 100%;
    display: block;
}

.tour-img:hover{
    opacity: 0.6;
}

.tour-info{
    background-color: #fff;
    padding: 14px;
}

.tour-heading {
    color: #000;
    padding: 8px 0;
    font-size:18px;
    font-weight: 600;
}

.tour-date {
    color: #ccc;
    padding: 10px 0;
    font-size: 14px;
}

.tour-decoration {
    color: #000;
    padding: 10px 0;
    font-size: 14px;
    line-height: 1.4;
}

.tour-info button:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.contact-container{
    margin-top: 50px;
}

.content{
    display: block;
    font-size: 16px;
    line-height:1.5;
}

.content i{
    width: 26px;
    font-size:18px;
}

.form-input{
    font-size: 16px;
}

.form-input .form-control{
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
}

.form-message{
    margin:10px 0;
}

.btn-send{
    float: right;
    margin-top:10px;
    padding: 10px 17px;
    font-size: 16px;
    text-transform: uppercase;
}

.btn-send:hover{
    background-color: #ccc;
    cursor: pointer;
    color:#000;
}

#content >img{
    margin-top: 112px;
    width: 100%;
}

#footer {
    background-color:#f7f7f7;
    padding:70px;
    text-align:center;
}

.footer-icon{
    color: rgb(110, 110, 110);
    font-size:22px;
}
.footer-content{
    margin-top:8px;
    color:rgb(110, 110, 110);
    font-size:14px;
}

.footer-content a{
    color:rgb(110, 110, 110);
}

